<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
  <div class="chat-container">
    <div class="chat-area">
      <div class="chat-header">
        <div class="user-head-info">
          <img th:src="@{/svg/chat_room_img.svg}" alt="buddy" class="chat-man-logo" />
          <div class="user-text-info">
            <span class="chat-name"></span>
            <span class="chat-last-info"></span>
          </div>
          <div class="dropdown">
            <input onclick="toggleDropdown()" type="image" class="modal-chat-info" th:src="@{/svg/more_dots.svg}" />
            <div id="dropdownMenu" class="dropdown-content">
              <a href="#" onclick="infoModal()">
                <img th:src="@{/svg/info.svg}" alt="Info" /> Информация
              </a>
              <a href="#">
                <img th:src="@{/svg/poll.svg}" alt="Poll" /> Опрос
              </a>
              <a href="#">
                <img th:src="@{/svg/export.svg}" alt="Export" /> Экспорт
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="messages" id="messages">
        <!-- Динамическое заполнение сообщений -->
      </div>
      <div class="message-input">
        <button type="button" id="addFileToMessage">
          <img th:src="@{/svg/addToMessage.svg}" alt="add" />
        </button>
        <textarea id="messageInput" placeholder="Напишите сообщение" rows="1"></textarea>
        <div class="input_button_container">
          <button type="button">
            <img th:src="@{/svg/smile.svg}" class="bi bi-smile" alt="smile" />
          </button>
          <button type="button" id="sendMessageButton" onclick="sendVoiceMessage()">
            <img th:src="@{/svg/mic.svg}" alt="mic" />
          </button>
        </div>
      </div>
      <div id="fileListContainer" class="file-list-container" style="display: none">
        <div id="fileList" class="file-list"></div>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <h1 class="title_h1_text_chat" style="padding-top: 40px">Доступные чаты</h1>
    <div class="chat-filter-container">
      <h2 class="title_h2_text_chat">Все пользователи</h2>
      <img th:src="@{/svg/down_icon.svg}" alt="down_icon" />
    </div>
    <div class="search-container">
      <input type="text" placeholder="Найти пользователя" />
      <button type="submit" id="search-button">
        <img th:src="@{/svg/search.svg}" alt="Search" />
      </button>
    </div>
    <ul id="chatList">
      <!-- Динамическое заполнение чатов -->
    </ul>
  </div>
</div>
<div class="popup-overlay">
  <div class="popup">
    <button class="close-popup">
      <img th:src="@{/svg/close-pic.svg}" alt="close">
    </button>
    <h1 class="popup_title_text">Информация</h1>
    <div class="popup_info_room_name">
      <img th:src="@{/svg/popup_room_pic.svg}" alt="room_pic">
      <div class="room_group_name_count">
        <div class="room_group_name"></div>
        <div class="room_group_count"></div>
      </div>
    </div>
    <div class="popup_room_member_type_tab">
      <div class="type_tabs">
        <div class="popup_tab_all_members">Все участники</div>
        <div class="popup_tab_moderators">Администраторы</div>
      </div>
      <button type="button" id="search_member_btn">
        <img th:src="@{/svg/search_member_to_add.svg}" alt="search_member">
      </button>
    </div>
    <div class="add_member_to_room_container">
      <button type="button" id="add_member_btn">
        <img th:src="@{/svg/add_member_to_group.svg}" alt="add_member">
      </button>
      <div class="add_member_label">Добавить участников</div>
    </div>
    <ul class="popup_member_list collapsed" id="popupMemberList">
      <!-- Динамическое заполнение списка пользователей -->
    </ul>
    <div class="popup_lower_part">
      <button type="submit" class="leave_room_button" id="leaveRoomButton" onclick="leaveRoom()">
        Выйти из чата
      </button>
    </div>
  </div>
</div>

<div class="popup-overlay" id="newPopup">
  <div class="popup_new">
    <button class="close-popup">
      <img th:src="@{/svg/close-pic.svg}" alt="close">
    </button>
    <div class="popup_new_upper_leftside">
      <button id="backBtn">
        <img th:src="@{/svg/backbtn.svg}" alt="back">
      </button>
      <h1 class="popup_title_text">Добавить участников</h1>
    </div>
    <div class="popup_new_search-container">
      <input type="text" placeholder="Найти пользователя" />
      <button type="submit" id="popup_new_search-button">
        <img th:src="@{/svg/search.svg}" id="popup_new_search_btn" />
      </button>
    </div>
    <ul class="popup_new_member_list" id="availableUsersList">
      <!-- Динамическое заполнение списка пользователей -->
    </ul>
    <div class="popup_new_lower_part">
      <button type="submit" class="add_member_button" onclick="addUsersToRoom()">Добавить</button>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/chat.js}"></script>
<script th:src="@{/js/activity.js}"></script>
<script th:src="@{/js/search.js}"></script>
<script th:src="@{/js/dropmenu.js}"></script>
<script th:src="@{/js/textarea.js}"></script>
<script th:src="@{/js/messageGrid.js}"></script>
<script th:src="@{/js/roomDetailsPopup.js}"></script>
<script th:src="@{/js/file.js}"></script>
<script th:src="@{/js/addUsers.js}"></script>
<script th:src="@{/js/editMessage.js}"></script>
</body>
</html>